<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/posts/log1/">Log 1</a></li>
            <li><a href="/posts/log2/">Log 2</a></li>
        </ul>
    </nav>
</header>
