---
title: "Explorer's Blog"
layout: "base.liquid"
---

<h1>Welcome to the Explorer's Blog</h1>
<p>Follow my journey as I explore the galaxy, one log entry at a time.</p>

<ul>
    <li><a href="/posts/log1/">Log Entry #1 - Arrival on Xylox</a></li>
    <li><a href="/posts/log2/">Log Entry #2 - The Floating Mountains</a></li>
</ul>
